In [1]:
import numpy as np
from sklearn.datasets import fetch_20newsgroups
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
import pandas as pd

In [2]:
AiVsHu_df = pd.read_excel("/Users/gayanmeerigama/Creative Cloud Files/Data Analytics Boot Camp/Project_3/AiVsHumanNew.xlsx")

In [3]:
new_df=AiVsHu_df
new_df.groupby('ai_generated').count()

,Unnamed: 0.1,Unnamed: 0,essay_id,essay_set,essay,HumanVsAi
ai_generated,,,,,,
Ai-generated,2967,2967,2967,2967,2967,2967
Human-generated,2967,2967,2967,2967,2967,2967

In [4]:
new_df

,Unnamed: 0.1,Unnamed: 0,essay_id,essay_set,essay,HumanVsAi,ai_generated
0,18483,1287,8381,3,The features of the setting affected the cycle...,human-generated,Human-generated
1,18484,1288,8382,3,Many things affected the cyclist in this story...,human-generated,Human-generated
2,18485,1289,8383,3,There are three very big features of the setti...,human-generated,Human-generated
3,18486,1290,8384,3,The setting affected the cyclist beause if he ...,human-generated,Human-generated
4,18487,1291,8385,3,In the story Do Not Exceed posted Speed Limit...,human-generated,Human-generated
...,...,...,...,...,...,...,...
5929,24412,213,213,1,"\n\nDear Editor, \n\nAs a citizen of this comm...",Ai-generated,Ai-generated
5930,24413,214,214,1,"\n\n\nDear Editor,\n\nAs a concerned citizen a...",Ai-generated,Ai-generated
5931,24414,215,215,1,"\n\nDear Editor,\n\nI am writing to share my o...",Ai-generated,Ai-generated
5932,24415,216,216,1,\n\nTo the Editor: \n\nAs our world has become...,Ai-generated,Ai-generated
5933,24416,217,217,1,"\n\nDear Editor, \n\nI am writing to present m...",Ai-generated,Ai-generated

In [5]:
# Builds a dictionary of features and transforms documents to feature vectors and convert our text documents to a
# matrix of token counts (CountVectorizer)
count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(new_df['essay'])

# transform a count matrix to a normalized tf-idf representation (tf-idf transformer)
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

In [6]:
# creating dataframe from bag of words matrix representation
words_matrix = pd.DataFrame(X_train_counts.toarray(), columns = count_vect.get_feature_names_out())
words_matrix

,00,000,046,050,10,100,1000,101,101st,102,...,znd,zone,zones,zoning,zoo,zoom,zooming,zooooooooom,zu,zuruck
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5929,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5930,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5931,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5932,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5933,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
normalized_tf_idf = pd.DataFrame(X_train_tfidf.toarray(), columns = count_vect.get_feature_names_out())
normalized_tf_idf

,00,000,046,050,10,100,1000,101,101st,102,...,znd,zone,zones,zoning,zoo,zoom,zooming,zooooooooom,zu,zuruck
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5929,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5931,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5932,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5933,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
knn = KNeighborsClassifier(n_neighbors=2)

# training our classifier ; new_df['essay'] will be having numbers assigned for each category in train data
clf = knn.fit(X_train_tfidf,new_df['essay'])

# Input Data to predict their classes of the given categories

docs_new = ['Technology has revolutionized various aspects of our lives, and one domain that has witnessed significant transformation is education. The integration of technology in educational settings has redefined the learning experience, enhancing access to information, fostering interactive engagement, and promoting personalized instruction. In this essay, we will explore the profound impact of technology on education, including its role in expanding educational opportunities, improving teaching methods, and preparing students for the demands of the 21st century','It night first date I know I embark amazing journey We exchange pleasantry spark eye every time look We talk anything come mind family like dislike dream future Soon enough conversation begin exhaust us start run thing talk Just I think conversation come end start crack joke something insignificant At first I take aback I expect soon I erupt laughing fit I sure joke make fact I finally let go nerve I help I laugh uncontrollably He catch contagious vibe soon laugh along The laughter infectious quickly fill space us From moment I felt warmth come I know connect That night laughter bridge us make first date unforgettable']
# building up feature vector of our input to chat with friends/new people
X_new_counts = count_vect.transform(docs_new)
# We call transform instead of fit_transform because it's already been fit
X_new_tfidf = tfidf_transformer.transform(X_new_counts)

In [8]:
 pd.DataFrame(X_new_counts.toarray(), columns = count_vect.get_feature_names_out())

,00,000,046,050,10,100,1000,101,101st,102,...,znd,zone,zones,zoning,zoo,zoom,zooming,zooooooooom,zu,zuruck
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
 pd.DataFrame(X_new_tfidf.toarray(), columns = count_vect.get_feature_names_out())

,00,000,046,050,10,100,1000,101,101st,102,...,znd,zone,zones,zoning,zoo,zoom,zooming,zooooooooom,zu,zuruck
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
new_df.groupby('HumanVsAi').agg(lambda x: ','.join(x))

/var/folders/dl/w0c87f_92kvbw8dkq57bqz1h0000gn/T/ipykernel_1679/513016066.py:1: FutureWarning: ['Unnamed: 0.1', 'Unnamed: 0', 'essay_id', 'essay_set'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  new_df.groupby('HumanVsAi').agg(lambda x: ','.join(x))

,essay,ai_generated
HumanVsAi,,
Ai-generated,\n\nI remember the first time I met my wife. W...,"Ai-generated,Ai-generated,Ai-generated,Ai-gene..."
human-generated,The features of the setting affected the cycle...,"Human-generated,Human-generated,Human-generate..."

In [11]:
new_df.index

RangeIndex(start=0, stop=5934, step=1)

In [12]:
clf.predict(X_new_tfidf)

array(['\n\nDear Editor:\n\nAs the world changes and technology advances, computers have taken an increasingly essential role in the lives of people around the world. This opens the door to much debate on the effects computers have on people. It has been argued that the use of computers is detrimental to personal health and well-being, but I believe their effects have been highly beneficial. \n\nIt is true that spending too much time on a computer can lead to physical health issues such as poor posture and repetitive stress injuries. However, I believe that technology also has the potential to drastically improve overall wellbeing. For example, being connected to the internet opens the door to many educational and recreational opportunities. Individuals can access a wealth of information on virtually any topic with just a few clicks. This enables people to gain knowledge and skills, and grow intellectually. Beyond the educational advantages computers offer, the virtual environment is an excellent platform for forming meaningful relationships. Nothing has made it easier to keep in touch with family and friends or find like minded people. \n\nIn addition to the psychological and social benefits computer can bring, they can help to improve efficiency and productivity in many aspects of life. Professional and academic tasks that once took days can now be completed in mere hours, allowing people to spend less time working and more time engaging in leisure activities.\n\nOverall, I think computer technology has allowed people to obtain an unparalleled amount of knowledge and has created many opportunities for social and educational growth. I am convinced that these',
       "\n\nI was on a date with a guy I'd been seeing for a while, and I hadn't managed to get a laugh out of him the whole night. I'd tried cracking jokes and telling funny stories, but it just seemed like he was never going to crack a smile. \n\nFinally, I decided to take a leap of faith and tell him a story that my grandmother had once told me. It was an old family joke, the kind of thing you can only appreciate if you know the family's background. I could tell he didn't even know what to expect, but I went ahead and told him the story anyway.\n\nSure enough, as soon as I told him the punchline, he broke out into uncontrollable laughter. He was laughing so hard that he had tears streaming down his face. I couldn't help but laugh along with him. \n\nJust seeing him laugh was enough to let me know that we had a connection. It was a moment I will never forget, and it's something that we laugh about to this day."],
      dtype=object)

In [15]:
# predicting the category of our input text: Will give out number for category
predicted = clf.predict(X_new_tfidf)


new_df = new_df.groupby('HumanVsAi').agg(lambda x: ','.join(x))

for doc,category,c in zip(docs_new, predicted,new_df.index): 
    print('%r ============== Essay is belongs to===> %s' % (doc,c))

'Technology has revolutionized various aspects of our lives, and one domain that has witnessed significant transformation is education. The integration of technology in educational settings has redefined the learning experience, enhancing access to information, fostering interactive engagement, and promoting personalized instruction. In this essay, we will explore the profound impact of technology on education, including its role in expanding educational opportunities, improving teaching methods, and preparing students for the demands of the 21st century' ============== Essay is belongs to===> Ai-generated
'It night first date I know I embark amazing journey We exchange pleasantry spark eye every time look We talk anything come mind family like dislike dream future Soon enough conversation begin exhaust us start run thing talk Just I think conversation come end start crack joke something insignificant At first I take aback I expect soon I erupt laughing fit I sure joke make fact I finally let go nerve I help I laugh uncontrollably He catch contagious vibe soon laugh along The laughter infectious quickly fill space us From moment I felt warmth come I know connect That night laughter bridge us make first date unforgettable' ============== Essay is belongs to===> human-generated